:root {
    --background-container: #92594e49;
    --background: #e0afa0d3;
    --text:#8a817c;
    --text__middle:#463f3a ;
    --border__img:#bcb8b1f5 ;
    --border__div:#f4f3ee94 ;
    --text__color:#ebebeb ;
}


.content__profiles {
    background: var(--background-container);
    display: flex;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.profile__left,
.profile__right {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--background);
    margin: 3rem;
    border-radius: 10%;
    border: 20px double var(--border__div);
}

center {
    background: none;
}

.profile__image {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: none;
    border: 7px double var(--border__img);
    overflow: hidden;
    margin: 20px 0;
}

.profile__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__information {
    margin: 0 30px 30px;
    background: none;
}

.profile__left li,
.profile__right li {
    font-size: 25px;
    text-align: center;
}

.information__social{
    font-size: 41px;
    text-align: center;
    background: var(--text__middle);
    border-bottom-left-radius:  20px ;
    border-bottom-right-radius:  20px ;

}

.information__social a{
    background: none;
}

.information__social .fa-brands, .fa-envelope{
    margin: 0 15px;
    color: whitesmoke;
    background: none;

}

.information__social .fa-brands:hover, .information__social .fa-solid:hover{
    filter: drop-shadow(1px 1px 3px #888);
    cursor: pointer;
}

.profile__left li:nth-child(odd),
.profile__right li:nth-child(odd) {
    background: var(--text);
    list-style: none;
    color: var(--text__color);
}

.profile__left li:nth-child(even),
.profile__right li:nth-child(even) {
    background: var(--text__middle);
    list-style: none;
    color: var(--text__color);
}
