p {
    background: none;
}

:root {
    --form__container: rgba(0, 0, 0, 0.671);

}

/* -------------------------------------------- [form] -------------------------------------------- */

.form__container {
    display: flex;
    flex-direction: column;
    background: none;
    background: var(--form__container);
    padding: 4rem 4rem;
    border-radius: 0.8rem;
    border: 3px dashed white;
}

.form__container label, input, center {
    background: none;
    margin: 2px 0;
    color: #fff;
    border-radius: 5px;
}

.form__input {
    height: 40px;
}

.form__container textarea {
    background: #fff;
    margin: 2px 0;
    height: 100px;
    border-radius: 5px;
}

.form__container input[type=submit] {
    background-color: white;
    color: black;
    width: 200px;
    margin: 10px 0;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* preguntar a santi */
.form__container input[type=submit]:hover {
    font-weight: 900;   
}

.form__container input[type=text], input[type=date], input[type=email], input[type=textarea]   {
    background-color: white;
    color: black;
    margin: 2px 0;
}


